
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 15%;
    transition: 1s;
}

ul.menu li {
    text-align: right;
}

ul.menu li a {
    display: block;
    color: #333;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    transition: 1s;
}

ul.menu li a:hover {
    background-color: #123C69;
    color: #f1f1f1;
    padding: 20px 20px;
    font-size: 22px;
}
ul{
    line-height: 40px;
}

.header-block{
    display: flex;
    width: 85%;
    background-color: #AC3B61;
    border-radius:0px 0px 10px 10px ;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-block b{
    margin: auto auto auto auto;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #f0e5e9;
    filter: drop-shadow(1px 1px 2px black);
}

.moto-info{
    background-color: #AC3B61;
    margin-top: 20px;
    width: 85%;
    display: flex;
    border-radius: 15px;
}

.moto-info b{
    font-size: 18px;
    margin: auto 10px auto 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #e0e0e0;
    filter: drop-shadow(1px 1px 2px black);
}

.immg{
    display: flex;
    width: 85%;
    background-color: #AC3B61; 
    border-radius: 20px 20px 0px 0px;
    margin-top: 20px;
}

.immg img{
    width: 85%;
    margin: auto auto auto auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
    filter: drop-shadow(2px 2px 3px black);
}

@media (max-width: 768px){

    ul.menu li a {
        display: block;
        color: #333;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 9px;
        transition: 1s;
    }

    .header-block b{
        margin: auto auto auto 10px;
        font-size: 22px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        color: #f0e5e9;
        filter: drop-shadow(1px 1px 2px black);
    }
}