
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 15%;
    transition: 1s;
}

ul.menu li {
    text-align: right;
}

ul.menu li a {
    display: block;
    color: #333;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    transition: 1s;
}

ul.menu li a:hover {
    background-color: #123C69;
    color: #f1f1f1;
    padding: 20px 20px;
    font-size: 22px;
}
ul{
    line-height: 40px;
}

.header-block{
    display: flex;
    width: 85%;
    background-color: #AC3B61;
    border-radius:0px 0px 10px 10px ;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-block b{
    margin: auto auto auto auto;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #f0e5e9;
    filter: drop-shadow(1px 1px 2px black);
}

.info-block{
    background-color: #AC3B61;
    margin-top: 20px;
    width: 85%;
    display: flex;
    border-radius: 10px;
}

.info-block b{
    font-size: 18px;
    margin: auto 10px auto 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #e0e0e0;
    filter: drop-shadow(1px 1px 2px black);
}

.kotolog{
    display: flex;
    width: 85%;
    margin-top: 20px;
    border-collapse: separate;
    border-spacing: 50px 0;
}

.immg{
    width: 300px;
    height: 250px;
}

.text-info{
    list-style-type: none;
    padding-left: 0;
}
.text-info-li{
    display: flex;
    line-height: 2;
    
}

.text-info-li b{
    font-size: 12px;
}

.buy-button{
    background-color: #AC3B61;
    height: 30px;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;
}

.buy-button a{
    color: #e0e0e0;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    left: 33%;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    transition: 1s;
}

td{
    padding: 10px 0;
}

.buy-button a:hover{
    font-size: 21px;
}

@media (max-width: 768px) and (max-height:390px){

    .kotolog tr {
        display: block;
      }
      
      .kotolog td {
        display: block;
        width: 100%;
      }

      ul.menu li a {
        display: block;
        color: #333;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 9px;
        transition: 1s;
    }

    .header-block b{
        margin: auto auto auto 10px;
        font-size: 22px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        color: #f0e5e9;
        filter: drop-shadow(1px 1px 2px black);
    }

    ul.menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #f1f1f1;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 15%;
        transition: 1s;
    }

}